<h1>Register</h1>
<form action="/auth/register" method="post">
<label for="username">Username: <input type="text" name="username" value="{{body.username}}"></label>
<label for="password">Password: <input type="password" name="password"></label>
<label for="rePass">Repeat password: <input type="password" name="repass"></label>
<button>Register</button>
</form>